@import url("https://use.typekit.net/jng2int.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-body;
    @apply text-base;
    @apply text-neutral-700;
  }

  html,
  body {
    @apply h-full;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-header;
    @apply text-neutral-900;
  }

  h1,
  h2 {
    @apply font-bold;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  a {
    @apply underline;
  }

  p.small {
    @apply text-base;
    @apply text-neutral-500;
  }

  input,
  select {
    @apply bg-white;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-neutral-300;
  }

  input:focus {
    @apply outline-none;
  }

  textarea:focus {
    @apply outline-none;
    @apply shadow-inner-focus;
  }

  input.disabled,
  select.disabled {
    @apply bg-gray;
  }

  textarea {
    @apply bg-white;
    @apply shadow-inner;
    @apply border-none;
    @apply rounded-lg;
    @apply p-3;
    @apply w-full;
  }

  button {
    @apply flex items-center gap-2;
    @apply px-3 py-2;
    @apply w-max;
    @apply rounded-full;
    @apply text-neutral-50;
    @apply transition-all;
  }

  button:hover {
    @apply bg-primary-700;
    @apply shadow-md;
  }

  button[role="checkbox"] {
    @apply justify-center;
    @apply rounded-none;
    @apply bg-neutral-50 text-neutral-900;
  }

  button[role="checkbox"]:hover {
    @apply shadow-none;
  }

  button[role="switch"] {
    @apply bg-neutral-300;
    @apply flex gap-0;
    @apply p-0.5;
  }

  button[role="switch"][data-state="checked"] {
    @apply bg-neutral-500;
  }

  th {
    @apply font-bold;
    @apply px-4 py-3;
    @apply text-left;
    @apply gap-4;
  }

  td {
    @apply text-neutral-700;
    @apply px-4 py-3;
  }
}

@layer components {
  .switchSlider {
    @apply w-5 h-5;
    @apply bg-neutral-50;
    @apply rounded-full;
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
  }

  .switchSlider[data-state="checked"] {
    transform: translateX(21px);
  }

  .readable {
    width: min(75ch, 100%);
  }

  .readable p {
    @apply py-2;
  }

  .readable ul {
    @apply list-disc;
    @apply pl-14;
    @apply py-2;
  }

  .readable li {
    @apply m-2;
  }

  .readable h2 {
    @apply pb-1;
  }

  .readable h3 {
    @apply font-semibold;
  }
}

.body {
  @apply grid;
  @apply min-h-screen;
  grid-template-columns:
    1fr
    min(1000px, 100%)
    1fr;
}

.body > * {
  grid-column: 2;
  @apply px-3;
}

@layer utilities {
  .full-bleed {
    @apply w-full;
    grid-column: 1 / 4;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
